spring:
  datasource:
    url: jdbc:mysql://localhost:3306/fakeapi
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        package-to-scan: com.example.fakeapi.infrastrucutre.entities
        dialect: org.hibernate.dialect.MySQLDialect
        show_sql: true # Isso mostrará as consultas SQL no console para fins de depuração
    open-in-view: false # Configuração recomendada para evitar o problema de vazamento de sessão
  cloud:
    loadbalancer:
      ribbon:
        enable: true
fake-api:
  url: "http://fakestoreapi.com/"

server:
  port: 8181
